<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>关于我们</title>
	<link rel="stylesheet" href="static/fe/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/fe/css/common.css">
	<link rel="stylesheet" href="static/fe/css/cm_about.css">
    <link rel="shortcut icon" href="static/fe/img/chengmei.ico">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- <a href="#" class="navbar&#45;brand logo">诚美投资</a> -->
            <a href="/" class="navbar-brand logo" style="padding:0"><img src="static/fe/img/logo.png" alt="诚美投资" style="max-height:50px;"></img></a>
            <a href="/" class="navbar-brand logo text-logo" style="padding:14px;line-height:1">&nbsp;&nbsp;<span id="zh-logo">诚美创投</span><span id="us-logo">&nbsp;CHENGMEI&nbsp;VENTURE&nbsp;CAPITAL</span></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
				<li><a href="team"><span class="glyphicon glyphicon-list"></span> 团队</a></li>
				<li><a href="investment"><span class="glyphicon glyphicon-flag"></span> 投资公司</a></li>
				<li><a href="news"><span class="glyphicon glyphicon-eye-open"></span> 新闻</a></li>
				<li class="active"><a href="about_us"><span class="glyphicon glyphicon-modal-window"></span> 关于我们</a></li>
				<li><a href="contact_us"><span class="glyphicon glyphicon-map-marker"></span> 联系方式</a></li>
				<li><a href="http://before.chengmeipe.com"> 投前管理</a></li>
				<li><a href="http://after.chengmeipe.com"> 投后管理</a></li>
			</ul>	
		</div>
	</div>
</nav>
<div style="height:50px;"></div>
{% for t in tab_list %}
<div class="cm-about-tab text-content" style="background-image:url('{{ t.bg_image }}');">
    <div class="tab-cover">
        <h3 class="cm-tab2-title">{{ t.title }}</h3>
        <p class="cm-tab2-content">
            {{ t.slogan }}
        </p>
    </div>
</div>
{% endfor %}

	<footer id="cm-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>关于我们</h3>
                <p>北京诚美天华管理咨询有限责任公司</p>
                <p>霍尔果斯诚美创业投资有限公司</p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>商业计划书</h3>
                <a href="mailto:bp@chengmeipe.com" class="email"><span class="glyphicon glyphicon-envelope"></span>bp@chengmeipe.com</a>
				<!-- <ul class="float"> -->
				<!-- 	<li><a href="#">Web Design</a></li> -->
				<!-- 	<li><a href="#">Branding &#38;amp; Identity</a></li> -->
				<!-- 	<li><a href="#">Free HTML5</a></li> -->
				<!-- 	<li><a href="#">HandCrafted Templates</a></li> -->
				<!-- </ul> -->
				<!-- <ul class="float"> -->
				<!-- 	<li><a href="#">Free Bootstrap Template</a></li> -->
				<!-- 	<li><a href="#">Free HTML5 Template</a></li> -->
				<!-- 	<li><a href="#">Free HTML5 &#38;amp; CSS3 Template</a></li> -->
				<!-- 	<li><a href="#">HandCrafted Templates</a></li> -->
				<!-- </ul> -->
                <!--  -->
			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>关注我们</h3>
				<ul class="fh5co-social">
                    <li><a href="#"><img src="static/fe/img/weibo.png" style="height:32px;"/></a></li>
                    <li><a href="#"><img src="static/fe/img/weixin.png" style="height:32px;"/></a></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 cm-copyright text-center">
				<p>&copy; 2017  All Rights Reserved. </p>	
			</div>
			
		</div>

	</footer>



<script src="static/fe/js/jquery.min.js"></script>
<script src="static/fe/js/bootstrap.min.js"></script>
<script src="static/fe/js/cm_about.js"></script>
</body>
</html>
